@charset "UTF-8";

*{
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  color: #333;
  letter-spacing: 4px;
  box-sizing: border-box;
}

p{
  font-size: 5vw;/* w_320 16px */
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  color: #333;
}

section{
  max-width: 1980px;
  margin: 0 auto;
  width: 100%;
}

/* loading */
.load{
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  align-items: center;
  color: #ccc;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


/* fv */
.fv{
  text-align: center;
  padding: 10vh 0 8vh;
}

.fv h1{
  font-size: 9.37500vw;/* w_320 30px */
  color: #6bb5ea;
  margin-bottom: 3vh;
}


/* portforio */
.pf{
  width: 85%;
  margin: 0 auto;
}

.pf .pf_item{
  margin-bottom: 7.5vh;
}

.pf .pf_item:last-child{
  margin-bottom: 12vh;
}

.pf .pf_fig{
  width: 100%;
  height: 0;
  padding-top: 62.5%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3vh;
}

.pf .pf_fig_item1{
  background-image: url(../img/item1.jpg);
}

.pf_item h2{
  font-size: 6.25vw;/* w_320 20px */
  margin-bottom: 1.5vh;
  color: #6bb5ea;
}

/* about */

.about{
  width: 100%;
  background: #f5f5f5;
  padding: 7.5vh 7%;
}

.about p{
width: 100%;
}

.about .about_fig{
  width: 100%;
  height: 0;
  padding-top: 62.5%;
  background-size: cover;
  background-image: url(../img/item1.jpg);
  background-repeat: no-repeat;
  margin-bottom: 3vh;
}

footer{
  width: 100%;
  padding: 9vh 7%;
  text-align: center;
  background: #eaeff3;
}

@media screen and (min-width: 768px){

  p{
    font-size: 2vw;/* w_768 16px */
  }

  .fv h1{
    font-size: 4vw;/* w_768 30px */
  }

  /* pf */
  .pf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .pf .pf_item{
    margin: 0 0 6vw;
    width: 47%;
  }

  .pf_item h2{
    font-size: 2.6vw;/* w_768 20px */
  }

  /* about */


  .about {
    max-width: 1600px;
    display: flex;
    align-items: center;
    padding: 11vw 7%;
  }

  .about .about_fig{
    width: 46%;
    height: 0;
    padding-top: 28.75%;
    margin:0 4% 0 0;
  }

  .about p{
    width: 60%;
  }
}

@media screen and (min-width: 1280px){

  p{
    font-size: 1.25vw;
  }

  .fv h1{
    font-size: 2.3vw;/* w_1280 30px */
  }

  /* pf */

  .pf .pf_item{
    margin: 0 0 4vw;
    width: 29%;
  }

  .pf_item h2{
    font-size: 1.5vw;/* w_1280 20px */
  }

  .about{
    position: relative;
    padding: 10vh 7%;

  }

  .about::before{
    content: '';
    position: absolute;
    left: calc(50% - 60vw);
    top: 0;
    background: #f5f5f5;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
}
